openapi: 3.2.0
info:
  title: Data Fair JDD / Données API
  description: 'Cette documentation interactive à destination des développeurs permet de gérer les ressources de ce service de publication de données et de consommer les opérations applicables aux jeux de données (toutes variantes confondues : fichier, éditable, virtuel, métadonnées seules, master data), incluant les opérations privées et d''administration.'
  version: 6.17.2
  x-api-id: data-fair
  termsOfService: https://koumoul.com/pages/conditions-generales-dutilisation
  contact:
    name: Koumoul
    url: https://koumoul.com
    email: support@koumoul.com
servers:
- url: https://data.laposte.fr/data-fair/api/v1
  description: Instance Data Fair - data.laposte.fr
security:
- apiKey: []
- sdCookie: []
tags:
- name: JDD / Données
paths:
  /datasets/{id}:
    parameters:
    - in: path
      name: id
      description: Identifiant du jeu de données. L'identifiant de publication (`slug`) fonctionne aussi lorsque l'API est appelée depuis un portail.
      required: true
      schema:
        type: string
        title: Identifiant du jeu de données
    post:
      summary: Mettre à jour les données
      description: Mettre à jour le fichier de données du jeu de données. La nouvelle version est créée en brouillon, à valider via la route `validateDraft`.
      operationId: writeData
      x-permissionClass: write
      tags:
      - JDD / Données
      requestBody:
        description: Le fichier à charger et autres informations.
        required: true
        content:
          multipart/form-data:
            schema:
              title: Post dataset body
              type: object
              additionalProperties: false
              properties:
                slug:
                  anyOf:
                  - type: string
                    description: Identifier of the dataset, usually a slug for URL readability (unique inside the tenant)
                    pattern: ^[a-z0-9]{1}[a-z0-9_\-]*[a-z0-9]{1}$
                  - type: 'null'
                title:
                  type: string
                  description: Short title of the dataset
                summary:
                  anyOf:
                  - type: string
                    description: Short description of the dataset
                  - type: 'null'
                description:
                  anyOf:
                  - type: string
                    description: Detailed description of the dataset
                  - type: 'null'
                image:
                  anyOf:
                  - type: string
                    description: URL d'une image, illustration du jeu de données
                  - type: 'null'
                spatial:
                  anyOf:
                  - type: string
                    description: spatial coverage
                  - type: 'null'
                temporal:
                  anyOf:
                  - type: object
                    description: temporal coverage
                    properties:
                      start:
                        type: string
                        format: date
                      end:
                        type: string
                        format: date
                  - type: 'null'
                keywords:
                  anyOf:
                  - type: array
                    description: keywords
                    items:
                      type: string
                  - type: 'null'
                frequency:
                  anyOf:
                  - type: string
                    description: update frequency
                    enum:
                    - ''
                    - triennial
                    - biennial
                    - annual
                    - semiannual
                    - threeTimesAYear
                    - quarterly
                    - bimonthly
                    - monthly
                    - semimonthly
                    - biweekly
                    - threeTimesAMonth
                    - weekly
                    - semiweekly
                    - threeTimesAWeek
                    - daily
                    - continuous
                    - irregular
                  - type: 'null'
                creator:
                  anyOf:
                  - type: string
                  - type: 'null'
                modified:
                  anyOf:
                  - type: string
                    format: date
                  - type: 'null'
                attachments:
                  anyOf:
                  - type: array
                    items:
                      type: object
                      required:
                      - title
                      properties:
                        title:
                          type: string
                          title: Titre
                          layout:
                            props:
                              outlined: true
                              dense: true
                        description:
                          type: string
                          title: Description
                          layout: markdown
                        includeInCatalogPublications:
                          type: boolean
                          title: Inclure dans les publications sur catalogue
                          default: false
                      oneOf:
                      - title: Fichier
                        required:
                        - name
                        properties:
                          type:
                            title: Type de pièce jointe
                            const: file
                          name:
                            layout: none
                            type: string
                            description: Name of the file that was used to create or update this attachment
                          size:
                            layout: none
                            type: number
                            description: Size of the file on disk
                          mimetype:
                            layout: none
                            type: string
                            description: Mime type of the file
                          updatedAt:
                            layout: none
                            type: string
                            description: Date of the last update for this attachment
                            format: date-time
                          url:
                            layout: none
                            readOnly: true
                            type: string
                            title: URL
                      - title: Lien
                        required:
                        - url
                        properties:
                          type:
                            title: Type de pièce jointe
                            const: url
                          url:
                            type: string
                            title: URL
                      - title: Fichier récupéré depuis une URL
                        required:
                        - name
                        properties:
                          type:
                            title: Type de pièce jointe
                            const: remoteFile
                          name:
                            type: string
                            title: Nom du fichier
                            description: Ce nom doit contenir l'extension qui doit correspondre au format du fichier téléchargé.
                            layout:
                              rules:
                              - hasExtension
                          targetUrl:
                            type: string
                            title: URL de téléchargement
                            description: Cette URL n'est pas consultable après écriture. Elle est utilisée pour télécharger le fichier depuis un service distant et peut contenir un secret. Vous pouvez la laisser vide quand vous modifiez les autres informations, mais vous devez la renseigner de nouveau si vous changez le nom de fichier.
                  - type: 'null'
                primaryKey:
                  anyOf:
                  - type: array
                    description: List of properties of the schema used as unique primary key for each line
                    items:
                      type: string
                  - type: 'null'
                schema:
                  anyOf:
                  - type: array
                    description: JSON schema properties of the fields
                    items:
                      type: object
                      required:
                      - key
                      properties:
                        key:
                          type: string
                          readOnly: true
                          layout: none
                        type:
                          type: string
                        format:
                          type:
                          - string
                          - 'null'
                        x-originalName:
                          type:
                          - string
                          - 'null'
                        title:
                          type: string
                        description:
                          type: string
                        icon:
                          type: string
                        x-group:
                          type: string
                        x-refersTo:
                          deprecated: true
                          type:
                          - string
                          - 'null'
                        x-concept:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            primary:
                              type: boolean
                        x-calculated:
                          type: boolean
                        x-capabilities:
                          type: object
                          properties:
                            index:
                              type: boolean
                              default: true
                              layout: switch
                              title: Filtrable sur valeur exacte
                              description: Désactivez cette capacité si la donnée contient par exemple des textes longs pour lesquels des filtres sur valeurs exactes ont peu de sens.
                            values:
                              type: boolean
                              default: true
                              layout: switch
                              title: Triable et groupable
                              description: Désactivez cette capacité si la donnée contient par exemple des textes longs pour lesquels trier ou grouper par valeur a peu de sens.
                            textStandard:
                              type: boolean
                              default: true
                              layout: switch
                              title: Texte analysé pour recherche textuelle
                              description: Désactivez cette capacité dans le cas d'un code, une url, etc. N'importe quel contenu sur lequel la recherche de mots a peu de sens.
                            text:
                              type: boolean
                              default: true
                              layout: switch
                              title: Texte analysé spécifiquement pour la langue française
                              description: Désactivez cette capacité pour tout contenu qui n'est pas en langue française ou pour lequel la recherche de mots a peu de sens.
                            textAgg:
                              type: boolean
                              default: false
                              layout: switch
                              title: Statistiques de mots
                              description: Activez cette capacité si avez l'intention d'obtenir des statistiques sur les occurrences de mots (par exemple pour construire un nuage de mot).
                            wildcard:
                              type: boolean
                              default: false
                              layout: switch
                              title: Texte filtrable sur groupe de caractères
                              description: Activez cette capacité si vous avez l'intention de filtrer ce contenu spécifiquement sur une suite de caractères (par exemple si un filtre sur mots entiers ou sur valeur exacte ne convient pas).
                            insensitive:
                              type: boolean
                              default: true
                              layout: switch
                              title: Tri amélioré avec casse et accents
                              description: Désactivez cette capacité si le contenu ne sera pas utilisé pour du tri ou bien si il ne contient pas de variations avec accents et majuscules.
                            geoShape:
                              type: boolean
                              default: true
                              layout: switch
                              title: Formes géométriques complexes
                              description: Désactivez cette capacité si la donnée ne contient que des géométries basiques de points ou bien si requêter les géométries uniquement à partir de leurs centroïdes est suffisant pour vos besoins.
                            vtPrepare:
                              type: boolean
                              default: false
                              layout: switch
                              title: Tuiles vectorielles préparées
                              description: Activez cette capacité pour précalculer des éléments utiles à la construction de tuiles vectorielles pour le rendu cartographique du jeu de données. Activez cette option si le jeu de données contient des données géogreaphiques denses à afficher en grande quantité. La contre-partie est une augmentation du temps d'indexation et du volume de données indexées.
                            indexAttachment:
                              type: boolean
                              default: true
                              layout: switch
                              title: Contenu des pièces jointes analysé pour recherche textuelle
                              description: Désactivez cette option si vous souhaitez que les pièces jointes soient simplement téléchargeables et que l'extraction de leur contenu textuel pour recherche de mots n'est pas pertinente.
                        x-labels:
                          type: object
                          patternProperties:
                            .*:
                              type: string
                        x-labelsRestricted:
                          type: boolean
                        readOnly:
                          type: boolean
                        x-required:
                          type: boolean
                        minLength:
                          type: integer
                        maxLength:
                          type: integer
                        minimum:
                          type: number
                        maximum:
                          type: number
                        pattern:
                          type: string
                          format: regex
                        patternErrorMessage:
                          type: string
                        x-master:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            remoteService:
                              type: string
                              description: L'identifiant du service distant utilisé pour l'enrichissement
                            action:
                              type: string
                              description: L'identifiant de l'action du service distant à utiliser pour l'enrichissement
                        x-display:
                          type: string
                        enum:
                          type: array
                          readOnly: true
                          description: This differs from JSON schema. It is not a restriction, just and observation of the values that are present in the dataset.
                        x-cardinality:
                          type: integer
                          description: The number of distinct values for this field
                          readOnly: true
                        x-transform:
                          type: object
                          description: Transformation to apply to the field
                          properties:
                            expr:
                              type: string
                            examples:
                              type: array
                              items:
                                type: string
                            type:
                              type: string
                            format:
                              type: string
                  - type: 'null'
                projection:
                  anyOf:
                  - type: object
                    description: The cartographic projection of this dataset. Refers to the list of supported projections in contract/projections.json
                    properties:
                      title:
                        type: string
                      code:
                        type: string
                  - type: 'null'
                conformsTo:
                  anyOf:
                  - type: object
                    description: Reference to an external schema or standard the dataset conforms to.
                    additionalProperties: false
                    properties:
                      title:
                        type: string
                        description: Short title of the schema / standard.
                      version:
                        type: string
                        description: Version of the schema / standard.
                      url:
                        type: string
                        description: URL of the schema / standard specification.
                  - type: 'null'
                license:
                  anyOf:
                  - type: object
                    additionalProperties: false
                    required:
                    - title
                    - href
                    properties:
                      title:
                        type: string
                        description: Short title for the license
                      href:
                        type: string
                        description: The URL where the license can be read
                  - type: 'null'
                origin:
                  anyOf:
                  - type: string
                    description: The URL where the original data can be found
                  - type: 'null'
                constraints:
                  anyOf:
                  - type: array
                    title: Contraintes d'unicité
                    description: Contraintes de validation à l'échelle du jeu de données, au delà des validations par colonne.
                    items:
                      type: object
                      title: Contrainte
                      oneOf:
                      - required:
                        - type
                        - properties
                        title: Unicité
                        properties:
                          type:
                            type: string
                            const: unique
                          properties:
                            type: array
                            title: Colonnes
                            description: La combinaison des valeurs de ces colonnes doit être unique sur chaque ligne du jeu de données.
                            items:
                              type: string
                  - type: 'null'
                extensions:
                  anyOf:
                  - type: array
                    description: Définition des enrichissements appliqués à ce jeu de données
                    items:
                      type: object
                      properties:
                        active:
                          type: boolean
                          description: Toggle on and off the extension
                        needsUpdate:
                          type: boolean
                        autoUpdate:
                          type: boolean
                        nextUpdate:
                          type: string
                          format: date-time
                      oneOf:
                      - required:
                        - type
                        - expr
                        - property
                        properties:
                          type:
                            type: string
                            const: exprEval
                          expr:
                            type: string
                          property:
                            type: object
                            required:
                            - key
                            - type
                            properties:
                              key:
                                type: string
                              type:
                                type: string
                      - required:
                        - type
                        - remoteService
                        - action
                        properties:
                          type:
                            type: string
                            const: remoteService
                          remoteService:
                            type: string
                            description: L'identifiant du service distant utilisé pour l'enrichissement
                          action:
                            type: string
                            description: L'identifiant de l'action du service distant à utiliser pour l'enrichissement
                          select:
                            type: array
                            description: La liste des colonnes à sélectionner dans le retour du service distant. Toutes les colonnes si absent ou vide.
                            items:
                              type: string
                          overwriteProperties:
                            type: object
                            description: Les attributs à surcharger sur les proprités résultats de l'enrichissement
                            additionalProperties:
                              type: object
                              properties:
                                title:
                                  type: string
                                x-originalName:
                                  type: string
                          shortId:
                            type: string
                            description: Id court (déprécié)
                            readOnly: true
                          propertyPrefix:
                            type: string
                            description: Chaine à utiliser comme préfixe des clés de champs issus de cette extension
                          mandatory:
                            type: boolean
                            description: Si vrai, un échec d'enrichissement sur une ligne est traité comme une erreur de validation bloquante.
                  - type: 'null'
                masterData:
                  anyOf:
                  - type: object
                    title: Données de référence
                    layout:
                      title: null
                    properties:
                      shareOrgs:
                        type: array
                        title: Partagez cette donnée de référence avec vos partenaires
                        description: Le partage à des partenaires affecte simplement la visibilité des actions liées à ces données de référence. Il est sans effet sur les permissions que vous devez définir séparément.
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                        layout:
                          if:
                            type: js-eval
                            expr: context.ownerOrg
                            pure: true
                          props:
                            noDataText: Vous n'avez pas encore de partenaires configurés pour votre organisation.
                          getItems:
                            url:
                              type: js-tpl
                              expr: ${context.directoryUrl}/api/${context.dataset.owner.type}s/${context.dataset.owner.id}
                              pure: true
                            itemKey: data["id"]
                            itemTitle: data["name"]
                            itemsResults: data["partners"]
                      bulkSearchs:
                        type: array
                        title: Récupération de lignes en masse
                        description: Permettez à vos utilisateurs de récupérer un grand nombre de lignes à partir d'une règle de correspondance simple. Cette fonctionnalité permet de créer une nouvelle source d'enrichissement.
                        items:
                          type: object
                          required:
                          - title
                          properties:
                            id:
                              type: string
                              title: Identifiant
                              readOnly: true
                              layout:
                                if:
                                  type: js-eval
                                  expr: parent.data.id
                                  pure: false
                            title:
                              type: string
                              title: Titre
                              minLength: 3
                              layout:
                                props:
                                  placeholder: Exemple "Récupérer les informations de plusieurs produits"
                            description:
                              type: string
                              title: Description
                              layout:
                                comp: textarea
                                props:
                                  placeholder: Exemple "Cet enrichissement vous permet de récupérer les informations de plusieurs produits à partir d'une liste de codes produits."
                            filters:
                              type: array
                              title: Filtres statiques
                              items:
                                type: object
                                required:
                                - property
                                - values
                                properties:
                                  property:
                                    type: object
                                    title: Propriété sur laquelle appliquer le filtre
                                    layout:
                                      getItems:
                                        type: js-eval
                                        expr: context.filterProperties
                                        pure: true
                                        itemKey: data["key"]
                                        itemTitle: data["title"]
                                  values:
                                    type: array
                                    title: Valeurs
                                    items:
                                      type: string
                            input:
                              type: array
                              title: Méthodes de correspondance
                              minItems: 1
                              items:
                                type: object
                                required:
                                - type
                                - property
                                oneOf:
                                - title: Valeurs exactement égales
                                  required:
                                  - type
                                  - property
                                  properties:
                                    type:
                                      type: string
                                      const: equals
                                      title: Type de méthode de correspondance
                                    property:
                                      type: object
                                      title: Propriété comparée
                                      layout:
                                        props:
                                          noDataText: Aucune colonne de ce jeu de données n'a de concept associé. Définissez des concepts dans l'onglet Schéma.
                                        getItems:
                                          type: js-eval
                                          expr: context.propertiesWithConcepts
                                          pure: true
                                          itemKey: data["key"]
                                          itemTitle: data["title"]
                                - title: Date dans un intervalle
                                  required:
                                  - type
                                  - property
                                  properties:
                                    type:
                                      type: string
                                      const: date-in-interval
                                    property:
                                      type: object
                                      title: Date à renseigner
                                      properties:
                                        x-refersTo:
                                          type: string
                                          const: http://schema.org/Date
                                        key:
                                          type: string
                                          const: _date
                                        type:
                                          type: string
                                          const: string
                                        format:
                                          type: string
                                          const: date-time
                                  layout:
                                    if:
                                      type: js-eval
                                      expr: context.hasDateIntervalConcepts
                                      pure: true
                                - title: Coordonnée géographique à proximité
                                  required:
                                  - type
                                  - distance
                                  properties:
                                    type:
                                      type: string
                                      const: geo-distance
                                    distance:
                                      type: integer
                                      title: Distance
                                      default: 0
                                    property:
                                      type: object
                                      title: Point à renseigner
                                      properties:
                                        x-refersTo:
                                          type: string
                                          const: http://www.w3.org/2003/01/geo/wgs84_pos#lat_long
                                        key:
                                          type: string
                                          const: _geopoint
                                        type:
                                          type: string
                                          const: string
                                  layout:
                                    if:
                                      type: js-eval
                                      expr: context.dataset.bbox
                                      pure: true
                                oneOfLayout:
                                  label: Type de méthode de correspondance
                            sort:
                              type: string
                              title: Tri pour choisir parmi des résultats ambigus
                              description: '

                                Remarque : ce paramètre est optionnel et utile uniquement si la manière d''établir une correspondance est susceptible de retourner plusieurs résultats par ligne.


                                Le tri est exprimé sous forme d''une liste de clés de colonnes séparées par des virgules. Par défaut le tri est ascendant, si un nom de colonne est préfixé par un "-" alors le tri sera descendant.


                                Exemple: ma_colonne,-ma_colonne2'
                        layout:
                          itemTitle: data.title
                      singleSearchs:
                        type: array
                        title: Recherche de paires code / libellé
                        description: Permettez à vos utilisateurs de récupérer une liste de résultats à partir d'une recherche textuelle sur une colonne de libellés. Cette fonctionnalité permet de créer des champs de recherche dans les formulaires d'édition de ligne des jeux éditables.
                        items:
                          type: object
                          required:
                          - title
                          - output
                          properties:
                            id:
                              type: string
                              title: Identifiant
                              readOnly: true
                              layout:
                                if:
                                  type: js-eval
                                  expr: parent.data.id
                                  pure: false
                            title:
                              type: string
                              title: Titre
                              minLength: 3
                              layout:
                                props:
                                  placeholder: Exemple "Recherche d'un produit"
                            description:
                              type: string
                              title: Description
                              layout:
                                comp: textarea
                                props:
                                  placeholder: Exemple "Récupérez un code produit en effectuant une recherche dans son code ou son libellé"
                            output:
                              type: object
                              title: Propriété à retourner (code)
                              layout:
                                props:
                                  noDataText: Aucune colonne de ce jeu de données n'a de concept associé. Définissez des concepts dans l'onglet Schéma.
                                getItems:
                                  type: js-eval
                                  expr: context.propertiesWithConcepts
                                  pure: true
                                  itemKey: data["key"]
                                  itemTitle: data["title"]
                            label:
                              type: object
                              title: Propriété affichée lors de la saisie (libellé)
                              description: Propriété affichée à côté du code dans la liste des suggestions, sous la forme « code (libellé) », pour aider l'utilisateur à identifier la bonne valeur. La recherche s'effectue sur toutes les colonnes textuelles du jeu de données.
                              layout:
                                props:
                                  noDataText: Aucune colonne textuelle dans ce jeu de données.
                                getItems:
                                  type: js-eval
                                  expr: context.stringProperties
                                  pure: true
                                  itemKey: data["key"]
                                  itemTitle: data["title"]
                            filters:
                              type: array
                              title: Filtres statiques
                              items:
                                type: object
                                required:
                                - property
                                - values
                                properties:
                                  property:
                                    type: object
                                    title: Propriété sur laquelle appliquer le filtre
                                    layout:
                                      getItems:
                                        type: js-eval
                                        expr: context.filterProperties
                                        pure: true
                                        itemKey: data["key"]
                                        itemTitle: data["title"]
                                  values:
                                    type: array
                                    title: Valeurs
                                    items:
                                      type: string
                        layout:
                          itemTitle: data.title
                      virtualDatasets:
                        type: object
                        description: Proposez à vos utilisateurs de créer des jeux virtuels à partir de ce jeu de données. C'est une option intéressante pour faciliter la création de vues filtrées de cette donnée.
                        properties:
                          active:
                            type: boolean
                            title: Création de jeux virtuels
                      standardSchema:
                        type: object
                        description: Proposez à vos utilisateurs d'initialiser des jeux éditables à partir des métadonnées et des données de ce jeu de données.
                        properties:
                          active:
                            type: boolean
                            title: Initialisation de jeux éditables
                  - type: 'null'
                publications:
                  anyOf:
                  - type: array
                    description: References to all the catalogs the dataset metadata is published too
                    items:
                      type: object
                      required:
                      - catalog
                      - status
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                        catalog:
                          type: string
                          description: L'identifiant du catalogue de destination de cette publication.
                        status:
                          type: string
                          description: Statut indiquant clairement si la publication a réussi. Si "published", la propriété targetUrl doit être renseignée. Si "error", la propriété error doit être renseignée.
                          enum:
                          - waiting
                          - published
                          - error
                          - deleted
                        publishedAt:
                          type: string
                          description: Date de la dernière mise à jour de cette publication.
                          format: date-time
                        error:
                          type: string
                        targetUrl:
                          type: string
                        result:
                          type: object
                          description: Résultat de la publication. La structure de cet objet est libre et dépend du type de catalogue.
                        addToDataset:
                          type: object
                          description: Fill this object to create a new resource (or community resource) to an existing dataset.
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                        replaceDataset:
                          type: object
                          description: Fill this object to overwrite an existing dataset.
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                  - type: 'null'
                publicationSites:
                  anyOf:
                  - type: array
                    description: References to all sites the dataset is exposed in.
                    items:
                      type: string
                  - type: 'null'
                requestedPublicationSites:
                  anyOf:
                  - type: array
                    description: References to all sites the dataset would be exposed in if validated by an admin.
                    items:
                      type: string
                  - type: 'null'
                attachmentsAsImage:
                  anyOf:
                  - type: boolean
                    default: false
                    description: Set to true to use attached files as illustrations of the line
                  - type: 'null'
                virtual:
                  anyOf:
                  - type: object
                    description: A configuration object dedicated to virtual datasets.
                    required:
                    - children
                    properties:
                      children:
                        type: array
                        description: Array of ids of the children datasets
                        items:
                          type: string
                      filters:
                        type: array
                        description: Array of static filters to always apply when querying the dataset
                        items:
                          type: object
                          required:
                          - key
                          - values
                          properties:
                            key:
                              type: string
                              description: Key of the field in the schema
                            operator:
                              type: string
                              enum:
                              - in
                              - nin
                              default: in
                            values:
                              type: array
                              items:
                                type: string
                      filterActiveAccount:
                        type: boolean
                  - type: 'null'
                rest:
                  anyOf:
                  - type: object
                    description: A configuration object dedicated to REST datasets.
                    properties:
                      ttl:
                        type: object
                        required:
                        - prop
                        - delay
                        properties:
                          active:
                            type: boolean
                          prop:
                            type: string
                          checkedAt:
                            type: string
                            format: date-time
                            readOnly: true
                          delay:
                            type: object
                            properties:
                              value:
                                type: integer
                                default: 0
                              unit:
                                type: string
                                enum:
                                - hours
                                - days
                                - weeks
                                - months
                                default: days
                      history:
                        type: boolean
                        default: false
                        description: Set to true to let data-fair store revisions of the lines in the dataset.
                      historyTTL:
                        type: object
                        additionalProperties: false
                        properties:
                          active:
                            type: boolean
                          delay:
                            type: object
                            additionalProperties: false
                            properties:
                              value:
                                type: integer
                                default: 0
                              unit:
                                type: string
                                enum:
                                - hours
                                - days
                                - weeks
                                - months
                                default: days
                      lineOwnership:
                        type: boolean
                      storeUpdatedBy:
                        type: boolean
                      primaryKeyMode:
                        type: string
                        enum:
                        - base64
                        - sha256
                      indiceMode:
                        type: string
                        enum:
                        - timestamp1
                        - timestamp2
                        - timestamp3
                  - type: 'null'
                topics:
                  anyOf:
                  - type: array
                    title: Liste de thématiques
                    layout:
                      itemTitle: item.title
                    items:
                      title: Topic
                      x-exports:
                      - types
                      - schema
                      type: object
                      required:
                      - title
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          readOnly: true
                        title:
                          type: string
                          title: Title
                          x-i18n-title:
                            fr: Titre
                          layout:
                            cols:
                              md: 5
                        icon:
                          type: object
                          title: Icon
                          x-i18n-title:
                            fr: Icône
                          description: Il est possible de consulter plus facilement la liste des icônes disponibles sur <a href='https://pictogrammers.com/library/mdi/' target='_blank'>ce site </a>.<br>Commencez à taper pour rechercher dans la collection complète d'icônes. Seuls quelques icônes sont chargées initialement pour de meilleures performances.
                          x-i18n-description:
                            en: You can easily browse the list of available icons on this <a href='https://pictogrammers.com/library/mdi/' target='_blank'>this website</a>.<br>Start typing to search through the complete collection of icons. Only a few icons are loaded initially for better performance.
                          layout:
                            getItems:
                              url: https://koumoul.com/data-fair/api/v1/datasets/icons-mdi-latest/lines?q={q}&select=name,svg,svgPath&size=25
                              itemsResults: data.results
                              itemTitle: item.name
                              itemIcon: item.svg
                              itemKey: item.name
                            cols:
                              md: 5
                              sm: 6
                          required:
                          - name
                          properties:
                            name:
                              type: string
                            svg:
                              type: string
                            svgPath:
                              type: string
                        color:
                          type: string
                          title: Color
                          x-i18n-title:
                            fr: Couleur
                          layout:
                            comp: color-picker
                            cols:
                              md: 2
                              sm: 6
                  - type: 'null'
                relatedDatasets:
                  anyOf:
                  - type: array
                    title: Autres jeux de données à recommender
                    items:
                      type: object
                      additionalProperties: false
                      required:
                      - id
                      - title
                      properties:
                        id:
                          type: string
                        title:
                          type: string
                  - type: 'null'
                thumbnails:
                  anyOf:
                  - type: object
                    properties:
                      resizeMode:
                        type: string
                        description: Define how the thumbnails will be adapted to the size requested by visualizations
                        enum:
                        - crop
                        - smartCrop
                        - fitIn
                        default: crop
                  - type: 'null'
                extras:
                  anyOf:
                  - type: object
                    description: An object for extra content from client services of data-fair
                  - type: 'null'
                customMetadata:
                  anyOf:
                  - type: object
                    patternProperties:
                      ^(.*)$:
                        type: string
                  - type: 'null'
                analysis:
                  anyOf:
                  - type: object
                    additionalProperties: false
                    properties:
                      escapeKeyAlgorithm:
                        type: string
                        default: slug
                        enum:
                        - legacy
                        - slug
                        - compat-ods
                  - type: 'null'
                readApiKey:
                  anyOf:
                  - type: object
                    additionalProperties: false
                    properties:
                      active:
                        type: boolean
                        title: Activer l'accès par clé d'API
                      interval:
                        type: string
                        title: Durée de validité des clés
                        oneOf:
                        - const: P1W
                          title: 1 semaine
                        - const: P1M
                          title: 1 mois
                        - const: P1Y
                          title: 1 année
                      expiresAt:
                        type: string
                        format: date-time
                        readOnly: true
                        layout: none
                      renewAt:
                        type: string
                        format: date-time
                        readOnly: true
                        layout: none
                  - type: 'null'
                nonBlockingValidation:
                  anyOf:
                  - type: boolean
                  - type: 'null'
                initFrom:
                  type: object
                  title: Init from
                  additionalProperties: false
                  required:
                  - dataset
                  - parts
                  properties:
                    dataset:
                      type: string
                    parts:
                      type: array
                      items:
                        type: string
                        enum:
                        - data
                        - description
                        - schema
                        - metadataAttachments
                        - primaryKey
                        - extensions
                isVirtual:
                  type: boolean
                  default: false
                  description: Used to identify virtual datasets. A virtual datasets does not have data, only references to other datasets.
                isRest:
                  type: boolean
                  default: false
                  description: Used to identify REST datasets. A REST dataset is not created from a data file, but instead is based on a dynamic collection in a database.
                isMetaOnly:
                  type: boolean
                  default: false
                  description: Used to identify datasets without any local data and only some metadata.
                owner:
                  type: object
                  additionalProperties: false
                  required:
                  - type
                  - id
                  - name
                  properties:
                    type:
                      type: string
                      enum:
                      - user
                      - organization
                      description: Indique si le propriétaire est un utilisateur ou une organisation.
                    id:
                      type: string
                      description: Identifiant unique de l'utilisateur ou de l'organisation.
                    name:
                      type: string
                      description: Nom affiché de l'utilisateur ou de l'organisation.
                    role:
                      type: string
                      deprecated: true
                      description: DÉPRÉCIÉ - Si cette propriété est renseignée et que le propriétaire est une organisation, restreint la propriété aux utilisateurs de cette organisation ayant ce rôle ou le rôle administrateur.
                    department:
                      type: string
                      description: Si cette propriété est renseignée et que le propriétaire est une organisation, restreint la propriété aux utilisateurs de cette organisation appartenant à ce département.
                    departmentName:
                      type: string
                      description: Nom affiché du département.
      responses:
        '200':
          description: Le jeu de données après mise à jour.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dataset'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: 'Conflit : le jeu de données est verrouillé ou se trouve dans un état incompatible avec cette opération.'
          content:
            text/plain:
              schema:
                type: string
        '413':
          description: Quota de stockage dépassé ou fichier trop volumineux.
          content:
            text/plain:
              schema:
                type: string
  /datasets/{id}/lines:
    parameters:
    - in: path
      name: id
      description: Identifiant du jeu de données. L'identifiant de publication (`slug`) fonctionne aussi lorsque l'API est appelée depuis un portail.
      required: true
      schema:
        type: string
        title: Identifiant du jeu de données
    get:
      summary: Lire les lignes
      description: Requêter les lignes du jeu de données.
      operationId: readLines
      x-permissionClass: read
      tags:
      - JDD / Données
      parameters:
      - in: query
        name: after
        description: 'Pagination en profondeur.


          *Automatiquement renseigné par la propriété **next** du résultat de la requête précédente.*'
        schema:
          title: Pagination en profondeur
          type: integer
      - in: query
        name: page
        description: 'Le numéro de la page (indice de la pagination). Débute à 1.


          *Pour paginer sur de gros volumes de données utilisez plutôt le paramètre **after***.'
        schema:
          title: Numéro de la page
          type: integer
          default: 1
      - in: query
        name: size
        description: Le nombre de résultats à retourner (taille de la pagination).
        schema:
          title: Taille de la pagination
          default: 12
          type: integer
          maximum: 10000
      - in: query
        name: sort
        description: '

          Le tri à effectuer sous forme d''une liste de clés de colonnes séparées par des virgules.


          Par défaut le tri est ascendant, si un nom de colonne est préfixé par un "-" alors le tri sera descendant.


          Exemple : `ma_colonne,-ma_colonne2`'
        schema:
          title: Ordre des résultats
          type: array
          items:
            type: string
        style: form
        explode: false
      - in: query
        name: select
        description: La liste des clés de colonnes à retourner.
        schema:
          title: La liste des colonnes à retourner
          type: array
          items:
            type: string
          default: all
        style: form
        explode: false
      - in: query
        name: highlight
        description: "\nDemande à retourner des extraits du document qui contiennent les mots utilisés en filtre (paramètres q et qs).\n\nLa valeur est une liste de clés de colonnes séparées par des virgules.\n    "
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - in: query
        name: thumbnail
        description: "\nDemande à retourner un lien de vignette d'une dimension déterminée à partir d'une colonne image.\n\nPour que ce paramètre soit accepté le concept \"Image\" doit être associé à une colonne du jeu de données.\n\nLa valeur du paramètre est la dimension passée sous la form largeurxhauteur (300x200 par exemple) où un 0 sur la largeur ou la hauteur signifie que l'autre valeur est prise en compte et les proportions conservées.\n    "
        schema:
          type: string
      - in: query
        name: sampling
        description: "\n  **Uniquement avec le paramètre de tuilage xyz**. Configure le mode d'échantillonnage des résultats pour privilégier soit l'exhaustivité des données soit une densité plus homogène sur la carte.\n\n    - **neighbors** (défaut) : utilise la densité maximale parmi les tuiles voisines pour réduire la densité de la tuile courante au même niveau d'échantillonnage (coûteux en performance).\n    - **max** : retourne le maximum (limité par le paramètre size) de résultat pour chaque tuile.\n      "
        schema:
          type: string
          enum:
          - null
          - neighbors
          - max
      - in: query
        name: format
        description: "Le format de sérialisation de la donnée.\n\n  - **json** (défaut)\n  - **csv**, **xlsx**, **ods** pour formats compatibles tableurs\n  - **pbf** pour tuiles vectorielles\n  - **geojson**, **shp**, **wkt** pour formats géographiques"
        schema:
          title: Format de sérialisation
          default: json
          type: string
          enum:
          - json
          - csv
          - xlsx
          - ods
          - pbf
          - geojson
          - shp
          - wkt
      - in: query
        name: html
        description: Effectuer le rendu des contenus formatés de **markdown** vers **HTML**.
        schema:
          title: Rendu HTML des contenus markdown
          type: boolean
      - in: query
        name: hint
        description: "Ajouter un champ `hint` au corps de la réponse avec un conseil de performance le cas échéant.\n\n  - **auto** (défaut) : seulement si la requête est lente.\n  - **true** : dès qu'un conseil s'applique.\n  - **false** : jamais."
        schema:
          title: Conseil de performance
          type: string
          default: auto
          enum:
          - auto
          - 'true'
          - 'false'
      - in: query
        name: q
        description: "\n  Colonne de recherche simple. Ce paramètre peut être utilisé pour exposer une fonctionnalité de recherche textuelle riche aux utilisateurs sans risque de créer des erreurs de syntaxe.\n\n  Exemple : `\"open data\" | \"open source\"`\n\n  Pour plus d'information voir la documentation [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) correspondante.\n    "
        schema:
          title: Recherche textuelle
          type: string
      - in: query
        name: q_mode
        description: "\n  Ce paramètre permet d'altérer le comportement du paramètre \"q\".\n\n  Le mode par défaut \"simple\" expose directement la fonctionnalité [simple-query-string de Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html)\n\n  Le mode \"complete\" permet d'enrichir automatiquement la requête soumise par l'utilisateur pour un résultat intuitif dans le contexte d'un champ de type autocomplete. Attention ce mode est potentiellement moins performant et à limiter à des jeux de données au volume raisonnable.\n    "
        schema:
          title: Mode de recherche
          type: string
          default: simple
          enum:
          - simple
          - complete
      - in: query
        name: q_fields
        description: "\n  Ce paramètre permet de spécifier les clés de colonnes sur lesquelles appliquer le paramètre \"q\".\n\n  Par défaut toutes les colonnes supportant une recherche textuelle sont utilisées.\n    "
        schema:
          title: Colonnes de recherche
          type: array
          items:
            type: string
        style: form
        explode: false
      - in: query
        name: filters
        schema:
          type: object
          title: Filtres sur colonnes
          patternPropertiesLayout:
            messages:
              addItem: Ajouter un filtre
            help: "Filtres structurés sur colonne.\n\nLe nom est constitué de la clé de la colonne concaténée avec un suffixe par type de filtre (par exemple `ma_colonne_eq`, `ma_colonne_in`, etc.).\n\nLes types de filtres disponibles peuvent varier par colonne.\n\n  - `_eq` : égal à une valeur\n  - `_neq` : différent d'une valeur\n  - `_in` : appartient à une liste de valeurs (séparées par des virgules)\n  - `_nin` : n'appartient pas à une liste de valeurs (séparées par des virgules)\n  - `_gt` : strictement supérieur à une valeur\n  - `_gte` : supérieur ou égal à une valeur\n  - `_lt` : strictement inférieur à une valeur\n  - `_lte` : inférieur ou égal à une valeur\n  - `_starts` : commence par une série de caractères\n  - `_contains` : contient une série de caractères\n  - `_search` : effectue une recherche textuelle simple\n  - `_exists` : la colonne contient une valeur\n  - `_nexists` : la colonne ne contient pas une valeur\n  "
          patternProperties:
            .*:
              type: string
              default: ''
              layout:
                placeholder: saisissez la valeur du filtre
      - in: query
        name: qs
        description: "\nColonne de filtre et recherche textuelle avancée. Ce paramètre permet d'effectuer des requêtes complexes sur la source de données. Vous pouvez spécifier des filtres par colonne, créer des combinaisons logiques à volonté, etc.\n\n**Attention**, ce paramètre est d'utilisation technique et n'est vraiment nécessaire que pour effectuer des combinaisons logiques particulières. Dans la majorité des cas il est recommandé d'utiliser \"Filtres sur colonnes\" ci-dessus.\n\nExemple : `ma_colonne:\"du texte\" AND ma_colonne2:valeur`\n\nPour plus d'information voir la documentation [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html) correspondante.\n  "
        schema:
          title: Recherche textuelle avancée
          type: string
      - in: query
        name: bbox
        description: Un filtre pour restreindre les résultats à une zone géographique. Le format est 'gauche,bas,droite,haut' autrement dit 'lonMin,latMin,lonMax,latMax'.
        schema:
          title: Filtre par zone géographique
          type: string
          examples:
          - 2.2241,48.8156,2.4699,48.9022
      - in: query
        name: xyz
        description: "\n  Un filtre pour restreindre les résultats à une zone géographique avec les paramètres standards de tuiles géographiques x,y et z.\n\n  Le format est 'x,y,z'.\n    "
        schema:
          title: Filtre par tuile géographique
          type: string
      - in: query
        name: geo_distance
        description: "\n  Un filtre pour restreindre les résultats à moins d'une certaine distance du point passé en paramètre.\n\n  Le format est 'lon:lat:distance'. La distance optionnelle (0 par défaut) et est exprimée en mètres.\n\n  Si les documents contiennent des géométries la distance est calculée à partir de leurs centroïdes à moins que la distance soit 0 auquel cas le filtre retourne tous les documents dont la géométrie contient le point passé en paramètre.\n    "
        schema:
          title: Filtre par distance géographique
          type: string
      - in: query
        name: collapse
        description: Afficher une ligne de résultat par valeur distincte d'une colonne.
        schema:
          type: string
      responses:
        '200':
          description: Le résultat de la requête.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Le nombre total de résultat si on ignore la pagination.
                  results:
                    type: array
                    description: Le tableau de résultats.
                    items:
                      type: object
                      required: []
                      properties:
                        name:
                          type: string
                          title: Nom
                          x-refersTo: http://schema.org/name
                        description:
                          type: string
                          title: Description
                        category:
                          type: string
                          title: Catégorie
                        value:
                          type: number
                          title: Valeur
                        siret:
                          type: string
                          title: SIRET
                          x-refersTo: http://dbpedia.org/ontology/siret
                        image:
                          type: string
                          title: Image
                          x-refersTo: http://schema.org/image
                        document:
                          type: string
                          title: Document
                          x-refersTo: http://schema.org/DigitalDocument
                  next:
                    type: string
                    description: URL pour continuer la pagination.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /datasets/{id}/values/{field}:
    parameters:
    - in: path
      name: id
      description: Identifiant du jeu de données. L'identifiant de publication (`slug`) fonctionne aussi lorsque l'API est appelée depuis un portail.
      required: true
      schema:
        type: string
        title: Identifiant du jeu de données
    - in: path
      name: field
      description: La clé de la colonne pour laquelle récupérer les valeurs distinctes.
      required: true
      schema:
        title: Colonne
        type: string
    get:
      summary: Lister les valeurs distinctes
      description: Récupérer la liste des valeurs distinctes d'une colonne.
      operationId: getValues
      x-permissionClass: read
      tags:
      - JDD / Données
      parameters:
      - in: query
        name: size
        description: Le nombre de résultats à retourner (taille de la pagination). 10 par défaut.
        schema:
          title: Taille de la pagination
          default: 10
          type: integer
          maximum: 10000
      - in: query
        name: sort
        description: Tri des valeurs ("**asc**" ou "**desc**").
        schema:
          title: Ordre de tri
          type: string
          default: asc
          oneOf:
          - const: asc
            title: Ascendant
          - const: desc
            title: Descendant
      - in: query
        name: q
        description: "\n  Colonne de recherche simple. Ce paramètre peut être utilisé pour exposer une fonctionnalité de recherche textuelle riche aux utilisateurs sans risque de créer des erreurs de syntaxe.\n\n  Exemple : `\"open data\" | \"open source\"`\n\n  Pour plus d'information voir la documentation [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) correspondante.\n    "
        schema:
          title: Recherche textuelle
          type: string
      - in: query
        name: q_mode
        description: "\n  Ce paramètre permet d'altérer le comportement du paramètre \"q\".\n\n  Le mode par défaut \"simple\" expose directement la fonctionnalité [simple-query-string de Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html)\n\n  Le mode \"complete\" permet d'enrichir automatiquement la requête soumise par l'utilisateur pour un résultat intuitif dans le contexte d'un champ de type autocomplete. Attention ce mode est potentiellement moins performant et à limiter à des jeux de données au volume raisonnable.\n    "
        schema:
          title: Mode de recherche
          type: string
          default: simple
          enum:
          - simple
          - complete
      - in: query
        name: q_fields
        description: "\n  Ce paramètre permet de spécifier les clés de colonnes sur lesquelles appliquer le paramètre \"q\".\n\n  Par défaut toutes les colonnes supportant une recherche textuelle sont utilisées.\n    "
        schema:
          title: Colonnes de recherche
          type: array
          items:
            type: string
        style: form
        explode: false
      - in: query
        name: filters
        schema:
          type: object
          title: Filtres sur colonnes
          patternPropertiesLayout:
            messages:
              addItem: Ajouter un filtre
            help: "Filtres structurés sur colonne.\n\nLe nom est constitué de la clé de la colonne concaténée avec un suffixe par type de filtre (par exemple `ma_colonne_eq`, `ma_colonne_in`, etc.).\n\nLes types de filtres disponibles peuvent varier par colonne.\n\n  - `_eq` : égal à une valeur\n  - `_neq` : différent d'une valeur\n  - `_in` : appartient à une liste de valeurs (séparées par des virgules)\n  - `_nin` : n'appartient pas à une liste de valeurs (séparées par des virgules)\n  - `_gt` : strictement supérieur à une valeur\n  - `_gte` : supérieur ou égal à une valeur\n  - `_lt` : strictement inférieur à une valeur\n  - `_lte` : inférieur ou égal à une valeur\n  - `_starts` : commence par une série de caractères\n  - `_contains` : contient une série de caractères\n  - `_search` : effectue une recherche textuelle simple\n  - `_exists` : la colonne contient une valeur\n  - `_nexists` : la colonne ne contient pas une valeur\n  "
          patternProperties:
            .*:
              type: string
              default: ''
              layout:
                placeholder: saisissez la valeur du filtre
      - in: query
        name: qs
        description: "\nColonne de filtre et recherche textuelle avancée. Ce paramètre permet d'effectuer des requêtes complexes sur la source de données. Vous pouvez spécifier des filtres par colonne, créer des combinaisons logiques à volonté, etc.\n\n**Attention**, ce paramètre est d'utilisation technique et n'est vraiment nécessaire que pour effectuer des combinaisons logiques particulières. Dans la majorité des cas il est recommandé d'utiliser \"Filtres sur colonnes\" ci-dessus.\n\nExemple : `ma_colonne:\"du texte\" AND ma_colonne2:valeur`\n\nPour plus d'information voir la documentation [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html) correspondante.\n  "
        schema:
          title: Recherche textuelle avancée
          type: string
      - in: query
        name: bbox
        description: Un filtre pour restreindre les résultats à une zone géographique. Le format est 'gauche,bas,droite,haut' autrement dit 'lonMin,latMin,lonMax,latMax'.
        schema:
          title: Filtre par zone géographique
          type: string
          examples:
          - 2.2241,48.8156,2.4699,48.9022
      - in: query
        name: xyz
        description: "\n  Un filtre pour restreindre les résultats à une zone géographique avec les paramètres standards de tuiles géographiques x,y et z.\n\n  Le format est 'x,y,z'.\n    "
        schema:
          title: Filtre par tuile géographique
          type: string
      - in: query
        name: geo_distance
        description: "\n  Un filtre pour restreindre les résultats à moins d'une certaine distance du point passé en paramètre.\n\n  Le format est 'lon:lat:distance'. La distance optionnelle (0 par défaut) et est exprimée en mètres.\n\n  Si les documents contiennent des géométries la distance est calculée à partir de leurs centroïdes à moins que la distance soit 0 auquel cas le filtre retourne tous les documents dont la géométrie contient le point passé en paramètre.\n    "
        schema:
          title: Filtre par distance géographique
          type: string
      responses:
        '200':
          description: Les valeurs distinctes de la colonne.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /datasets/{id}/values-labels/{field}:
    parameters:
    - in: path
      name: id
      description: Identifiant du jeu de données. L'identifiant de publication (`slug`) fonctionne aussi lorsque l'API est appelée depuis un portail.
      required: true
      schema:
        type: string
        title: Identifiant du jeu de données
    - in: path
      name: field
      description: La clé de la colonne pour laquelle récupérer les valeurs avec leurs libellés.
      required: true
      schema:
        title: Colonne
        type: string
    get:
      summary: Lister les valeurs avec libellés
      description: Récupérer la liste des valeurs distinctes d'une colonne avec leurs libellés associés (`x-labels`). Utile pour des champs de type select/autocomplete.
      operationId: getValuesLabels
      x-permissionClass: read
      tags:
      - JDD / Données
      parameters:
      - in: query
        name: size
        description: Le nombre de résultats à retourner. 1000 par défaut.
        schema:
          title: Taille de la pagination
          default: 1000
          type: integer
          maximum: 10000
      - in: query
        name: q
        description: "\n  Colonne de recherche simple. Ce paramètre peut être utilisé pour exposer une fonctionnalité de recherche textuelle riche aux utilisateurs sans risque de créer des erreurs de syntaxe.\n\n  Exemple : `\"open data\" | \"open source\"`\n\n  Pour plus d'information voir la documentation [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) correspondante.\n    "
        schema:
          title: Recherche textuelle
          type: string
      - in: query
        name: q_mode
        description: "\n  Ce paramètre permet d'altérer le comportement du paramètre \"q\".\n\n  Le mode par défaut \"simple\" expose directement la fonctionnalité [simple-query-string de Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html)\n\n  Le mode \"complete\" permet d'enrichir automatiquement la requête soumise par l'utilisateur pour un résultat intuitif dans le contexte d'un champ de type autocomplete. Attention ce mode est potentiellement moins performant et à limiter à des jeux de données au volume raisonnable.\n    "
        schema:
          title: Mode de recherche
          type: string
          default: simple
          enum:
          - simple
          - complete
      - in: query
        name: q_fields
        description: "\n  Ce paramètre permet de spécifier les clés de colonnes sur lesquelles appliquer le paramètre \"q\".\n\n  Par défaut toutes les colonnes supportant une recherche textuelle sont utilisées.\n    "
        schema:
          title: Colonnes de recherche
          type: array
          items:
            type: string
        style: form
        explode: false
      - in: query
        name: filters
        schema:
          type: object
          title: Filtres sur colonnes
          patternPropertiesLayout:
            messages:
              addItem: Ajouter un filtre
            help: "Filtres structurés sur colonne.\n\nLe nom est constitué de la clé de la colonne concaténée avec un suffixe par type de filtre (par exemple `ma_colonne_eq`, `ma_colonne_in`, etc.).\n\nLes types de filtres disponibles peuvent varier par colonne.\n\n  - `_eq` : égal à une valeur\n  - `_neq` : différent d'une valeur\n  - `_in` : appartient à une liste de valeurs (séparées par des virgules)\n  - `_nin` : n'appartient pas à une liste de valeurs (séparées par des virgules)\n  - `_gt` : strictement supérieur à une valeur\n  - `_gte` : supérieur ou égal à une valeur\n  - `_lt` : strictement inférieur à une valeur\n  - `_lte` : inférieur ou égal à une valeur\n  - `_starts` : commence par une série de caractères\n  - `_contains` : contient une série de caractères\n  - `_search` : effectue une recherche textuelle simple\n  - `_exists` : la colonne contient une valeur\n  - `_nexists` : la colonne ne contient pas une valeur\n  "
          patternProperties:
            .*:
              type: string
              default: ''
              layout:
                placeholder: saisissez la valeur du filtre
      - in: query
        name: qs
        description: "\nColonne de filtre et recherche textuelle avancée. Ce paramètre permet d'effectuer des requêtes complexes sur la source de données. Vous pouvez spécifier des filtres par colonne, créer des combinaisons logiques à volonté, etc.\n\n**Attention**, ce paramètre est d'utilisation technique et n'est vraiment nécessaire que pour effectuer des combinaisons logiques particulières. Dans la majorité des cas il est recommandé d'utiliser \"Filtres sur colonnes\" ci-dessus.\n\nExemple : `ma_colonne:\"du texte\" AND ma_colonne2:valeur`\n\nPour plus d'information voir la documentation [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html) correspondante.\n  "
        schema:
          title: Recherche textuelle avancée
          type: string
      - in: query
        name: bbox
        description: Un filtre pour restreindre les résultats à une zone géographique. Le format est 'gauche,bas,droite,haut' autrement dit 'lonMin,latMin,lonMax,latMax'.
        schema:
          title: Filtre par zone géographique
          type: string
          examples:
          - 2.2241,48.8156,2.4699,48.9022
      - in: query
        name: xyz
        description: "\n  Un filtre pour restreindre les résultats à une zone géographique avec les paramètres standards de tuiles géographiques x,y et z.\n\n  Le format est 'x,y,z'.\n    "
        schema:
          title: Filtre par tuile géographique
          type: string
      - in: query
        name: geo_distance
        description: "\n  Un filtre pour restreindre les résultats à moins d'une certaine distance du point passé en paramètre.\n\n  Le format est 'lon:lat:distance'. La distance optionnelle (0 par défaut) et est exprimée en mètres.\n\n  Si les documents contiennent des géométries la distance est calculée à partir de leurs centroïdes à moins que la distance soit 0 auquel cas le filtre retourne tous les documents dont la géométrie contient le point passé en paramètre.\n    "
        schema:
          title: Filtre par distance géographique
          type: string
      responses:
        '200':
          description: Les valeurs distinctes accompagnées de leurs libellés.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                    label:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /datasets/{id}/values_agg:
    parameters:
    - in: path
      name: id
      description: Identifiant du jeu de données. L'identifiant de publication (`slug`) fonctionne aussi lorsque l'API est appelée depuis un portail.
      required: true
      schema:
        type: string
        title: Identifiant du jeu de données
    get:
      summary: Agréger les valeurs
      description: Récupérer des informations agrégées en fonction des valeurs de colonnes.
      operationId: getValuesAgg
      x-permissionClass: read
      tags:
      - JDD / Données
      parameters:
      - in: query
        name: field
        description: La ou les clés de colonnes en fonction des valeurs desquelles grouper les lignes du jeu de données.
        required: true
        explode: false
        schema:
          title: Colonne(s) de groupement
          type: array
          items:
            type: string
      - in: query
        name: interval
        description: 'La manière de grouper les valeurs par niveau d''agrégation.


          Pour grouper par valeur distincte utilisez "value" (comportement par défaut).


          Si la colonne de groupement est de type date vous pouvez utiliser un intervalle de calendrier comme "year", "month", etc ([voir la documentation Elasticsearch](https://www.elastic.co/docs/reference/aggregations/search-aggregations-bucket-datehistogram-aggregation#calendar_intervals)).


          Si la colonne est numérique vous pouvez saisir un nombre qui sera utilisé comme intervalle de groupement des valeurs.'
        required: false
        explode: false
        schema:
          title: Interval(s) de groupement
          type: array
          items:
            type: string
      - in: query
        name: html
        description: Effectuer le rendu des contenus formatés de **markdown** vers **HTML**.
        schema:
          title: Rendu HTML des contenus markdown
          type: boolean
      - in: query
        name: metric
        description: "La métrique à appliquer par niveau de groupement :\n  - `avg` : moyenne\n  - `sum` : somme\n  - `min` : valeur minimale\n  - `max` : valeur maximale\n  - `value_count` : nombre de valeurs\n  - `cardinality` : nombre de valeurs distinctes (approximatif à partir de 40 000)\n            "
        explode: false
        schema:
          title: Métrique
          type: string
          enum:
          - avg
          - sum
          - min
          - max
          - cardinality
          - value_count
      - in: query
        name: metric_field
        description: La clé de la colonne sur laquelle effectuer le calcul de métrique par niveau de groupement.
        schema:
          type: string
      - in: query
        name: missing
        description: Nom du groupe des lignes pour lesquelles la colonne de groupement est vide.
        explode: false
        schema:
          title: Groupe des valeurs manquantes
          type: array
          items:
            type: string
      - in: query
        name: agg_size
        description: Le nombre de groupes par niveau de groupement.
        explode: false
        schema:
          type: array
          items:
            default: 20
            type: integer
            maximum: 10000
      - in: query
        name: size
        description: Le nombre de résultats à retourner (taille de la pagination).
        schema:
          title: Taille de la pagination
          default: 0
          type: integer
          maximum: 100
      - in: query
        name: sort
        description: '

          Le tri à effectuer sous forme d''une liste de clés séparées par des virgules.


          Pour chaque niveau d''agrégation il est possible de trier par le nombre d''éléments dans le groupe ("count" et "-count") ou par la clé du groupe ("key" et "-key").


          Ensuite il est possible d''ajouter des instructions de tri pour les résultats imbriqués dans le dernier niveau d''agrégation sous forme d''une liste de clés de colonnes.


          Exemple : `-count,key,ma_colonne,-ma_colonne2`'
        schema:
          title: Ordre des résultats
          type: array
          items:
            type: string
            enum:
            - metric
            - -metric
            - count
            - -count
            - key
            - -key
        style: form
        explode: false
      - in: query
        name: select
        description: La liste des clés de colonnes à retourner.
        schema:
          title: La liste des colonnes à retourner
          type: array
          items:
            type: string
          default: all
        style: form
        explode: false
      - in: query
        name: highlight
        description: "\nDemande à retourner des extraits du document qui contiennent les mots utilisés en filtre (paramètres q et qs).\n\nLa valeur est une liste de clés de colonnes séparées par des virgules.\n    "
        schema:
          type: array
          items:
            type: string
        style: form
        explode: false
      - in: query
        name: thumbnail
        description: "\nDemande à retourner un lien de vignette d'une dimension déterminée à partir d'une colonne image.\n\nPour que ce paramètre soit accepté le concept \"Image\" doit être associé à une colonne du jeu de données.\n\nLa valeur du paramètre est la dimension passée sous la form largeurxhauteur (300x200 par exemple) où un 0 sur la largeur ou la hauteur signifie que l'autre valeur est prise en compte et les proportions conservées.\n    "
        schema:
          type: string
      - in: query
        name: sampling
        description: "\n  **Uniquement avec le paramètre de tuilage xyz**. Configure le mode d'échantillonnage des résultats pour privilégier soit l'exhaustivité des données soit une densité plus homogène sur la carte.\n\n    - **neighbors** (défaut) : utilise la densité maximale parmi les tuiles voisines pour réduire la densité de la tuile courante au même niveau d'échantillonnage (coûteux en performance).\n    - **max** : retourne le maximum (limité par le paramètre size) de résultat pour chaque tuile.\n      "
        schema:
          type: string
          enum:
          - null
          - neighbors
          - max
      - in: query
        name: hint
        description: "Ajouter un champ `hint` au corps de la réponse avec un conseil de performance le cas échéant.\n\n  - **auto** (défaut) : seulement si la requête est lente.\n  - **true** : dès qu'un conseil s'applique.\n  - **false** : jamais."
        schema:
          title: Conseil de performance
          type: string
          default: auto
          enum:
          - auto
          - 'true'
          - 'false'
      - in: query
        name: q
        description: "\n  Colonne de recherche simple. Ce paramètre peut être utilisé pour exposer une fonctionnalité de recherche textuelle riche aux utilisateurs sans risque de créer des erreurs de syntaxe.\n\n  Exemple : `\"open data\" | \"open source\"`\n\n  Pour plus d'information voir la documentation [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) correspondante.\n    "
        schema:
          title: Recherche textuelle
          type: string
      - in: query
        name: q_mode
        description: "\n  Ce paramètre permet d'altérer le comportement du paramètre \"q\".\n\n  Le mode par défaut \"simple\" expose directement la fonctionnalité [simple-query-string de Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html)\n\n  Le mode \"complete\" permet d'enrichir automatiquement la requête soumise par l'utilisateur pour un résultat intuitif dans le contexte d'un champ de type autocomplete. Attention ce mode est potentiellement moins performant et à limiter à des jeux de données au volume raisonnable.\n    "
        schema:
          title: Mode de recherche
          type: string
          default: simple
          enum:
          - simple
          - complete
      - in: query
        name: q_fields
        description: "\n  Ce paramètre permet de spécifier les clés de colonnes sur lesquelles appliquer le paramètre \"q\".\n\n  Par défaut toutes les colonnes supportant une recherche textuelle sont utilisées.\n    "
        schema:
          title: Colonnes de recherche
          type: array
          items:
            type: string
        style: form
        explode: false
      - in: query
        name: filters
        schema:
          type: object
          title: Filtres sur colonnes
          patternPropertiesLayout:
            messages:
              addItem: Ajouter un filtre
            help: "Filtres structurés sur colonne.\n\nLe nom est constitué de la clé de la colonne concaténée avec un suffixe par type de filtre (par exemple `ma_colonne_eq`, `ma_colonne_in`, etc.).\n\nLes types de filtres disponibles peuvent varier par colonne.\n\n  - `_eq` : égal à une valeur\n  - `_neq` : différent d'une valeur\n  - `_in` : appartient à une liste de valeurs (séparées par des virgules)\n  - `_nin` : n'appartient pas à une liste de valeurs (séparées par des virgules)\n  - `_gt` : strictement supérieur à une valeur\n  - `_gte` : supérieur ou égal à une valeur\n  - `_lt` : strictement inférieur à une valeur\n  - `_lte` : inférieur ou égal à une valeur\n  - `_starts` : commence par une série de caractères\n  - `_contains` : contient une série de caractères\n  - `_search` : effectue une recherche textuelle simple\n  - `_exists` : la colonne contient une valeur\n  - `_nexists` : la colonne ne contient pas une valeur\n  "
          patternProperties:
            .*:
              type: string
              default: ''
              layout:
                placeholder: saisissez la valeur du filtre
      - in: query
        name: qs
        description: "\nColonne de filtre et recherche textuelle avancée. Ce paramètre permet d'effectuer des requêtes complexes sur la source de données. Vous pouvez spécifier des filtres par colonne, créer des combinaisons logiques à volonté, etc.\n\n**Attention**, ce paramètre est d'utilisation technique et n'est vraiment nécessaire que pour effectuer des combinaisons logiques particulières. Dans la majorité des cas il est recommandé d'utiliser \"Filtres sur colonnes\" ci-dessus.\n\nExemple : `ma_colonne:\"du texte\" AND ma_colonne2:valeur`\n\nPour plus d'information voir la documentation [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html) correspondante.\n  "
        schema:
          title: Recherche textuelle avancée
          type: string
      - in: query
        name: bbox
        description: Un filtre pour restreindre les résultats à une zone géographique. Le format est 'gauche,bas,droite,haut' autrement dit 'lonMin,latMin,lonMax,latMax'.
        schema:
          title: Filtre par zone géographique
          type: string
          examples:
          - 2.2241,48.8156,2.4699,48.9022
      - in: query
        name: xyz
        description: "\n  Un filtre pour restreindre les résultats à une zone géographique avec les paramètres standards de tuiles géographiques x,y et z.\n\n  Le format est 'x,y,z'.\n    "
        schema:
          title: Filtre par tuile géographique
          type: string
      - in: query
        name: geo_distance
        description: "\n  Un filtre pour restreindre les résultats à moins d'une certaine distance du point passé en paramètre.\n\n  Le format est 'lon:lat:distance'. La distance optionnelle (0 par défaut) et est exprimée en mètres.\n\n  Si les documents contiennent des géométries la distance est calculée à partir de leurs centroïdes à moins que la distance soit 0 auquel cas le filtre retourne tous les documents dont la géométrie contient le point passé en paramètre.\n    "
        schema:
          title: Filtre par distance géographique
          type: string
      responses:
        '200':
          description: Les informations du jeu de données agrégées par valeurs d'une colonne.
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /datasets/{id}/metric_agg:
    parameters:
    - in: path
      name: id
      description: Identifiant du jeu de données. L'identifiant de publication (`slug`) fonctionne aussi lorsque l'API est appelée depuis un portail.
      required: true
      schema:
        type: string
        title: Identifiant du jeu de données
    get:
      summary: Calculer une métrique
      description: Calculer une métrique sur une colonne.
      operationId: getMetricAgg
      x-permissionClass: read
      tags:
      - JDD / Données
      parameters:
      - in: query
        name: metric
        description: La métrique à calculer.
        required: true
        schema:
          title: Métrique à calculer
          type: string
          enum:
          - avg
          - sum
          - min
          - max
          - stats
          - value_count
          - percentiles
          - cardinality
      - in: query
        name: field
        description: La clé de la colonne sur laquelle calculer la métrique.
        schema:
          title: Colonne pour le calcul de métrique
          type: string
        required: true
      - in: query
        name: percents
        description: Les pourcentages sur lesquels calculer la métrique percentiles (inutile pour les autres métriques).
        required: false
        schema:
          title: Pourcentages sur lesquels calculer la métrique percentiles
          type: string
          default: 1,5,25,50,75,95,99
      - in: query
        name: q
        description: "\n  Colonne de recherche simple. Ce paramètre peut être utilisé pour exposer une fonctionnalité de recherche textuelle riche aux utilisateurs sans risque de créer des erreurs de syntaxe.\n\n  Exemple : `\"open data\" | \"open source\"`\n\n  Pour plus d'information voir la documentation [ElasticSearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html) correspondante.\n    "
        schema:
          title: Recherche textuelle
          type: string
      - in: query
        name: q_mode
        description: "\n  Ce paramètre permet d'altérer le comportement du paramètre \"q\".\n\n  Le mode par défaut \"simple\" expose directement la fonctionnalité [simple-query-string de Elasticsearch](https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html)\n\n  Le mode \"complete\" permet d'enrichir automatiquement la requête soumise par l'utilisateur pour un résultat intuitif dans le contexte d'un champ de type autocomplete. Attention ce mode est potentiellement moins performant et à limiter à des jeux de données au volume raisonnable.\n    "
        schema:
          title: Mode de recherche
          type: string
          default: simple
          enum:
          - simple
          - complete
      - in: query
        name: q_fields
[...]
